<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>myMA</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<style>
.form-group-sm{ margin-right:9px;}
</style>
</head>
<body class="login">
<div class="login-wrapper">
  <div class="login-logo"> <a href="#"><img src="images/img-logo.png" alt=""></a> </div>
  <div class="login-form">
    <form>
      <div class="form-group">
        <input type="text" class="form-control icon-user" placeholder="Full Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control icon-email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control icon-pass" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control icon-pass" placeholder="Confirm Password">
      </div>
      <div class="form-group">
        <input type="text" class="form-control icon-fin" placeholder="Fin No">
      </div>
      <h2>Selfie</h2>
      <div class="media"> <a href="#"><img src="images/icon-cm.png" alt=""></a> </div>
      <h2>Work Permit Photo</h2>
      <div class="media"> <a href="#"><img src="images/icon-cm.png" alt=""></a> </div>
      <div class="media"> <a href="#"><img src="images/icon-cm.png" alt=""></a> </div>
      <h2>WP Expiry</h2>
      <div class="form-group">
        <input type="text" class="form-control icon-date" placeholder="dd/mm/yyyy">
      </div>
      <div class="form-group icon-gender ">
        <select class="form-control form-controls">
          <option>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control icon-phone" placeholder="Phone No">
      </div>
      <div class="form-group">
        <input type="text" class="form-control icon-date-cal " placeholder="Date of Birth">
        <div class="icon-date-pic"> <a href="#"><img src="images/icon-date.png" alt=""></a> </div>
      </div>
      <div class="form-group icon-dromatry ">
        <select class="form-control form-controls">
          <option>Dormitory </option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control icon-street" placeholder="Street Add">
      </div>
      <div class="form-group form-group-sm">
        <input type="text" class="form-control form-control-sm" placeholder="Block">
      </div>
      <div class="form-group form-group-sm">
        <input type="text" class="form-control form-control-sm" placeholder="Sub Block">
      </div>
      <div class="form-group form-group-sm">
        <input type="text" class="form-control form-control-sm" placeholder="Unit No">
      </div>
      <div class="form-group form-group-sm">
        <input type="text" class="form-control form-control-sm" placeholder="Floor">
      </div>
      <div class="form-group form-group-sm">
        <input type="text" class="form-control form-control-sm" placeholder="Room No">
      </div>
      <div class="form-group form-group-sm">
        <input type="text" class="form-control form-control-sm" placeholder="Zip Code">
      </div>
      <div class="mg-top">
        <button type="submit" class="btn btn-default">Create new account ></button>
      </div>
      <div class="access mg-top" style="text-align:center;"> <a href="#"> Login to my account ></a> </div>
    </form>
  </div>
</div>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>
